<a href="https://colab.research.google.com/github/sunshineluyao/UTXO/blob/main/UTXO_Age_Distribution_To_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##reference: https://cloud.google.com/bigquery/docs/exporting-data.
https://googleapis.dev/python/bigquery/latest/usage/pandas.html

In [1]:
from google.colab import auth
auth.authenticate_user()

In [2]:
from google.cloud import bigquery

# https://cloud.google.com/resource-manager/docs/creating-managing-projects
project_id = 'crypto-291811'
client = bigquery.Client(project=project_id)

for dataset in client.list_datasets():
  print(dataset.dataset_id)

UTXO

In [3]:
bucket_name = 'utxo'

In [4]:
project = "crypto-291811"
dataset_id = "UTXO"
table_id = "joint_all"

In [5]:
destination_uri = "gs://{}/{}-*".format(bucket_name, "utxo_joint.csv")
dataset_ref = bigquery.DatasetReference(project, dataset_id)
table_ref = dataset_ref.table(table_id)

In [6]:
extract_job = client.extract_table(
    table_ref,
    destination_uri,
    # Location must match that of the source table.
    location="US",
)  # API request
extract_job.result()  # Waits for job to complete.

print(
    "Exported {}:{}.{} to {}".format(project, dataset_id, table_id, destination_uri)
)

Exported crypto-291811:UTXO.joint_all to gs://utxo/utxo_joint.csv-*

### The following methods is only valid for Dataset smaller than 1GB

This will work

In [7]:
###To retrieve table rows as a pandas.DataFrame:
# from google.cloud import bigquery
# client = bigquery.Client()
project = "crypto-291811"
dataset_id = "UTXO"

dataset_ref = bigquery.DatasetReference(project, dataset_id)
table_ref = dataset_ref.table("joint")
table = client.get_table(table_ref)

df_joint = client.list_rows(table).to_dataframe()
df_joint.head()

     value  ...     spent_block_timestamp
0      546  ...                       NaT
1    37176  ...                       NaT
2        0  ...                       NaT
3  2081670  ... 2014-05-26 12:51:47+00:00
4  2410000  ... 2017-05-27 17:38:21+00:00

[5 rows x 7 columns]

This will not work

In [ ]:
###To retrieve table rows as a pandas.DataFrame:
# from google.cloud import bigquery
# client = bigquery.Client()
project = "crypto-291811"
dataset_id = "UTXO"

dataset_ref = bigquery.DatasetReference(project, dataset_id)
table_ref = dataset_ref.table("joint_all")
table = client.get_table(table_ref)

df_joint_all = client.list_rows(table).to_dataframe()
df_joint_all.head()