<a href="https://colab.research.google.com/github/sunshineluyao/UTXO/blob/main/UTXO_Age_Distribution_Data_queried_from_public_data_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import auth
auth.authenticate_user()

In [ ]:
from google.cloud import bigquery

# https://cloud.google.com/resource-manager/docs/creating-managing-projects
project_id = 'crypto-291811'
client = bigquery.Client(project=project_id)

for dataset in client.list_datasets():
  print(dataset.dataset_id)

UTXO

In [ ]:
# TODO(developer): Set table_id to the ID of the destination table.
### Refers to 
#1. result large results:
#https://cloud.google.com/bigquery/docs/writing-results
#2. Export to dataframe
#https://cloud.google.com/bigquery/docs/exporting-data
#ARRAY_TO_STRING(addresses,'.') AS addresses	
table_id_inputs = "crypto-291811.UTXO.inputs"

job_config = bigquery.QueryJobConfig(destination=table_id_inputs)

sql = """
  SELECT 
    spent_transaction_hash,
    spent_output_index,	
    block_timestamp AS spent_block_timestamp,   

  FROM `bigquery-public-data.crypto_bitcoin.inputs`
"""

# Start the query, passing in the extra configuration.
query_job_inputs = client.query(sql, job_config=job_config)  # Make an API request.
query_job_inputs.result()  # Wait for the job to complete.


print("Query results loaded to the table {}".format(table_id_inputs))

In [ ]:
# TODO(developer): Set table_id to the ID of the destination table.
### Refers to 
#1. result large results:
#https://cloud.google.com/bigquery/docs/writing-results
#2. Export to dataframe
#https://cloud.google.com/bigquery/docs/exporting-data
table_id_outputs = "crypto-291811.UTXO.outputs"

job_config = bigquery.QueryJobConfig(destination=table_id_outputs)

sql = """
  SELECT 
    transaction_hash,
    block_timestamp,
  	index,	
    value
  FROM `bigquery-public-data.crypto_bitcoin.outputs`
"""

# Start the query, passing in the extra configuration.
query_job = client.query(sql, job_config=job_config)  # Make an API request.
query_job.result()  # Wait for the job to complete.


print("Query results loaded to the table {}".format(table_id_outputs))

In [ ]:
# TODO(developer): Set table_id to the ID of the destination table.
### Refers to 
#1. result large results:
#https://cloud.google.com/bigquery/docs/writing-results
#2. Export to dataframe
#https://cloud.google.com/bigquery/docs/exporting-data

table_id_joint = "crypto-291811.UTXO.joint"

job_config = bigquery.QueryJobConfig(destination=table_id_joint)

sql = """
  SELECT
    outputs.value,  
    outputs.transaction_hash,
    inputs.spent_transaction_hash,
    outputs.index,
    inputs.spent_output_index,
    outputs.block_timestamp,
    inputs.spent_block_timestamp,
   
  FROM `crypto-291811.UTXO.outputs` AS outputs
  LEFT JOIN `crypto-291811.UTXO.inputs` AS inputs
  ON outputs.transaction_hash=inputs.spent_transaction_hash  AND outputs.index = inputs.spent_output_index
  LIMIT 100

"""

# Start the query, passing in the extra configuration.
query_job = client.query(sql, job_config=job_config)  # Make an API request.
query_job.result()  # Wait for the job to complete.


print("Query results loaded to the table {}".format(table_id_joint))

Query results loaded to the table crypto-291811.UTXO.joint

In [ ]:
### For interaction with google sheets, refers to 
#1.Connecting with google Sheets: gsread https://colab.research.google.com/notebooks/snippets/sheets.ipynb#scrollTo=6d0xJz3VzLOo
#2.Interacting with google sheets: df2gspread https://towardsdatascience.com/using-python-to-push-your-pandas-dataframe-to-google-sheets-de69422508f
#https://stackoverflow.com/questions/45540827/appending-pandas-data-frame-to-google-spreadsheet

In [ ]:
df_joint = (
   query_job.result().to_dataframe()
)

In [ ]:
df_joint.head()

     value  ...     spent_block_timestamp
0      546  ...                       NaT
1    37176  ...                       NaT
2        0  ...                       NaT
3  2081670  ... 2014-05-26 12:51:47+00:00
4  2410000  ... 2017-05-27 17:38:21+00:00

[5 rows x 7 columns]