<a href="https://colab.research.google.com/github/sunshineluyao/UTXO/blob/main/UTXO_How_to_create_join_all_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Step 1: Query data from the input and output public data sets and only keep varaibles of interest

## inputs

Choose destination table as

In [ ]:
crypto-291811.UTXO.inputs

Put the SQL in Bigquery Query BOX

In [ ]:
  SELECT 
    spent_transaction_hash,
    spent_output_index,	
    block_timestamp AS spent_block_timestamp,   

  FROM `bigquery-public-data.crypto_bitcoin.inputs`

#outputs

Choose destination table as

In [ ]:
crypto-291811.UTXO.outputs

Put the SQL in Bigquery Query BOX

In [ ]:
SELECT 
    transaction_hash,
    block_timestamp,
  	index,	
    value
  FROM `bigquery-public-data.crypto_bitcoin.outputs`

# Step 2:Joint the two tables by transaction hash and index

Choose destination table as

In [ ]:
crypto-291811.UTXO.joint

Put the SQL in Bigquery Query BOX

In [ ]:
  SELECT
    outputs.value,  
    outputs.transaction_hash,
    inputs.spent_transaction_hash,
    outputs.index,
    inputs.spent_output_index,
    outputs.block_timestamp,
    inputs.spent_block_timestamp,
   
  FROM `crypto-291811.UTXO.outputs` AS outputs
  LEFT JOIN `crypto-291811.UTXO.inputs` AS inputs
  ON outputs.transaction_hash=inputs.spent_transaction_hash  AND outputs.index = inputs.spent_output_index

### references Google Colab code for the above steps: https://github.com/sunshineluyao/UTXO/blob/main/UTXO_Age_Distribution_Data_queried_from_public_data_set.ipynb

# Step 3  Format Data and Keep only variables of interest

Choose destination table as

In [ ]:
crypto-291811.UTXO.joint_all

Put the SQL in Bigquery Query BOX

In [ ]:
SELECT 
  value,
  FORMAT_TIMESTAMP("%Y-%m-%d", block_timestamp) AS block_date,
  FORMAT_TIMESTAMP("%Y-%m-%d", spent_block_timestamp) AS spent_block_date,
  FROM `crypto-291811.UTXO.joint`