<a href="https://colab.research.google.com/github/sunshineluyao/UTXO/blob/main/UTXO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using BigQuery with Pandas API


1.   Use the [Cloud Resource Manager](https://console.cloud.google.com/cloud-resource-manager) to Create a Cloud Platform project if you do not already have one. Make sure to [activate the service account](https://www.youtube.com/watch?v=gpAiUerUdEA)
2.   [Enable billing](https://support.google.com/cloud/answer/6293499#enable-billing) for the project.
3.   [Enable BigQuery](https://console.cloud.google.com/flows/enableapi?apiid=bigquery) APIs for the project.

In [ ]:
from google.colab import auth
auth.authenticate_user()

In [ ]:
import pandas as pd

# https://cloud.google.com/resource-manager/docs/creating-managing-projects
project_id = 'crypto-291811'
sample_count = 2000

row_count = pd.io.gbq.read_gbq('''
  SELECT 
    COUNT(*) as total
  FROM `bigquery-public-data.crypto_bitcoin.transactions`
''', project_id=project_id).total[0]

df = pd.io.gbq.read_gbq(f'''
  SELECT
    *
  FROM
    `bigquery-public-data.crypto_bitcoin.transactions`
  WHERE RAND() < {sample_count}/{row_count}
''', project_id=project_id)

print(f'Full dataset has {row_count} rows')

In [ ]:
df.info()

In [ ]:
%load_ext google.colab.data_table

In [ ]:
df.head()

In [ ]:
%unload_ext google.colab.data_table

In [ ]:
df.head()

# Using BigQuery with Cloud API


1.   Use the [Cloud Resource Manager](https://console.cloud.google.com/cloud-resource-manager) to Create a Cloud Platform project if you do not already have one.
2.   [Enable billing](https://support.google.com/cloud/answer/6293499#enable-billing) for the project.
3.   [Enable BigQuery](https://console.cloud.google.com/flows/enableapi?apiid=bigquery) APIs for the project.

[BigQuery Documentation](https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery/usage.html)

# Pandas: display dataframes as interactive tables

The `google.colab.data_table` package provides an interactive display of tabular data within colab. It can be enabled by loading the extension:

In [ ]:
from google.colab import auth
auth.authenticate_user()

In [ ]:
from google.cloud import bigquery

# https://cloud.google.com/resource-manager/docs/creating-managing-projects
project_id = 'crypto-291811'
client = bigquery.Client(project=project_id)

for dataset in client.list_datasets():
  print(dataset.dataset_id)

# Use BigQuery through pandas-gbq

The `pandas-gbq` library is a community led project by the pandas community. It covers basic functionality, such as writing a DataFrame to BigQuery and running a query, but as a third-party library it may not handle all BigQuery features or use cases.

[Pandas GBQ Documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_gbq.html)

In [26]:
import pandas as pd

df = pd.io.gbq.read_gbq('''
  SELECT *
  FROM `bigquery-public-data.crypto_bitcoin.blocks`
  LIMIT 1000
''', project_id=project_id, dialect='standard')

df_blocks.head()

                                                hash  ...  transaction_count
0  0000000000000000056d139dd0bafe43b8730467a3e99c...  ...               1115
1  00000000000000000362c20e64827c382eabd038973ea1...  ...                 49
2  00000000000000000dbb20fe9bf7503f606aabfe0eca58...  ...                649
3  00000000000000000f7b234fc525a398726571f3939b8f...  ...               1131
4  000000000000000014aa9605722d5730803d7e64d3740b...  ...               1196

[5 rows x 13 columns]

In [27]:
df_blocks.to_csv('blocks.csv')

In [29]:
import pandas as pd

df_inputs = pd.io.gbq.read_gbq('''
  SELECT *
  FROM `bigquery-public-data.crypto_bitcoin.inputs`
  LIMIT 1000
''', project_id=project_id, dialect='standard')

df_inputs.head()

                                    transaction_hash  ...     value
0  263e12f8c93ec8a15c38265e8fb3eae8dab413aa8c0906...  ...    760140
1  072d454d5184123547f1439b568dddff0cb31e169d9a3f...  ...  18911274
2  d79093f3e0faa485f3463f341f19152400509c64012783...  ...  28609926
3  07767feb503940fb8b187d5ba4086023987ec821970532...  ...  24750000
4  9f947de4cf13ddf669df10096704c73a1277a8c40650e2...  ...   1465595

[5 rows x 14 columns]

In [30]:
df_inputs.to_csv('inputs.csv')

In [31]:
import pandas as pd

df_outputs = pd.io.gbq.read_gbq('''
  SELECT *
  FROM `bigquery-public-data.crypto_bitcoin.outputs`
  LIMIT 1000
''', project_id=project_id, dialect='standard')

df_outputs.head()

                                    transaction_hash  ...     value
0  5061dc4dfce85eef30e072e0600eba8773cd5dc0098ad6...  ...    766400
1  5061dc4dfce85eef30e072e0600eba8773cd5dc0098ad6...  ...   5218508
2  51859caafc815cb1da1e272ce7e456379d0d78f9a0608e...  ...      5430
3  51859caafc815cb1da1e272ce7e456379d0d78f9a0608e...  ...    894570
4  435e31b6639cc3f7a07e8641f006078e5f5d8fad4d0704...  ...  19988232

[5 rows x 11 columns]

In [33]:
df_outputs.to_csv('outputs.csv')

In [34]:
import pandas as pd

df_transactions = pd.io.gbq.read_gbq('''
  SELECT *
  FROM `bigquery-public-data.crypto_bitcoin.transactions`
  LIMIT 1000
''', project_id=project_id, dialect='standard')

df_transactions.head()

                                                hash  ...                                            outputs
0  682f2309d045cee70e2a02fb7e52f88984095262523c3f...  ...  [{'index': 0, 'script_asm': 'OP_DUP OP_HASH160...
1  ba9893f17953de2b1d7daa39f1ec32986fb2c4523659d3...  ...  [{'index': 0, 'script_asm': 'OP_DUP OP_HASH160...
2  68f7c7372c08094ea40acc0c1f53a3b883f29635a3483d...  ...  [{'index': 0, 'script_asm': 'OP_DUP OP_HASH160...
3  e00a47abf8a89506d05597c2a1ea1802cbe7a703f95411...  ...  [{'index': 0, 'script_asm': 'OP_DUP OP_HASH160...
4  e0ac88235a46366161c10dec986f052c0af285e40603e6...  ...  [{'index': 0, 'script_asm': 'OP_DUP OP_HASH160...

[5 rows x 17 columns]

In [35]:
df_transactions.to_csv('transactions.csv')